
.header-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  /* background-color: rgba(104, 98, 98, 0.151); */
}

.sub-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}


.form-macro {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}


.body-container {
  display: flex;
  justify-content: center;
  margin: 32px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
