.single-card {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: rgba(14, 112, 131, 0.541);
}


.card-list {
  margin: 24px;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-auto-flow: row;
  grid-template-rows: auto;
  gap: 12px;
}
