.card {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.02); */
  border-radius: 8px;
  margin: 16px;
  background-color: powderblue;
}
