

.form-micro {
  display: flex;
  align-items: center;
}

.form-micro__title {
  border-radius: 8px 0px 0px 8px;

}

.form-input-genre {
  border-radius: 0px 8px 8px 0px;
}

.form-micro__title, .form-micro__genre, .form-micro__author, .form-micro__year {
  border: solid 1px rgba(0, 0, 0, 0.296);
  padding: 4px;
  text-align: center;
  font-family: 'Figtree-Regular', sans-serif;
}

.form-micro__button {
  margin-left: 8px;
  font-family: 'Figtree-Regular', sans-serif;
  border: none;
  font-size: 30px;
  background-color: white;
}
