$border-thin: 1px solid rgba(0, 0, 0, 0.11);

.genre-micro {
    display: flex;
    justify-content: start;
}

.genre-card {
    margin: 0px 8px;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.216);
}