.main-micro {
  display: grid;
  grid-template-rows: 150px 130px 5fr;

  .form-macro {
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    padding-top: 30px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .sub-header-macro {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
